@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}
a{
    text-decoration: none;
    color: black
}
.mainContainer{
    max-width: 1600px;
}
.headerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background-color: rgb(39, 107, 114);
}
/* img.logo{
    width: 100%;
    max-height: 100px;
} */
.logo, .icon{
    width: 80px;
}
/* #logo_link{
    max-width: 20%;
} */
.navContainer{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.linksContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
nav a{
    font-size: 1.5rem;
    color: white;
    background-color: rgb(39, 107, 114);
    transition: all ease .5s;
}
nav a:hover{
    color: rgb(212, 212, 212);
    transition: all ease .5s;
    font-size: 1.49rem;
}
img{
    max-width: 100%;
}
#background {
    height: 725px;
    background-color: rgb(36, 36, 36);
}
#hero-msg{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
}
.card-img{
    box-shadow: 2px 2px white;
}
.card-title{
    font-size: 2rem;
    margin: 1rem;
}
.button-box a, .join a{
    color: white;
}
.button-box, .join{
    background-color: rgb(39, 107, 114);
    color: white;
    padding: .5rem 1rem;
    margin: 2rem;
    border: solid white;
    border-radius: 5px;
    cursor: pointer;
    width: 7rem;
    transition: all ease .7s;
}
.button-box{
    width: 8rem;
}
.button-box:hover{
    background-color: rgb(48, 130, 139);
    color: white;
    border: solid rgb(212, 212, 212);
    margin-bottom: 3rem;
    padding: .7rem 1.1rem;
    transition: all ease .7s;
}
.join:hover{
    background-color: rgb(48, 130, 139);
    color: white;
    border: solid rgb(212, 212, 212);
    margin-bottom: 3rem;
    padding: .7rem 1.2rem;
    transition: all ease .7s;
}
.msg{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
}
footer{
    margin: 4rem;
}